footer{
    max-width: 760px;
    width: 100%;
    background-image: url("footer.png");
    margin-top: 0px;
    min-height: 250px;
    max-height:250px ;
    background-repeat: no-repeat;
    padding: 30px 20px;
    display: flex;
    flex-direction: row;
}